website/wp-config.php

chrome/ad-ade/common
chrome/ad-ade/manifest.json

firefox/data
firefox/package.json

safari/ad-ade.safariextension/common
safari/ad-ade.safariextension/Info.plist


*.crx
*.pem
*.xpi
*.safariextz
*.zip

build
